.carousel-item img {
    max-width: 100%;
    height: auto;
}
.nav-images {
    background-color: red;
    padding: 0px 5px 0px 5px;
    height: 60px;
}
.nav-images img {
    width: 30px;
    margin: 5px 2px 0px 2px;
    transition: all .5s ease;
}
nav p {
    padding-top: 8px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: .3px;
    transition: all .5s ease;
}
.carousel-control-next, .carousel-control-prev {
    background-color: green;
    height: 16px;
    width: 16px;
    transform: translateY(2ch);
}

/* For larger screens */
@media (min-width: 801px) {
    #navCarousel {
      display: none;
    }

    .nav-images .row {
      display: flex;
      justify-content: space-between;
    }
}
