:root {
  /* --primary-color: #3b008b; */
  --primary-color: #2b0068;
  --secondary-color: #a66216;
  /* --tersary-color: #870083; */
  --tersary-color: #660163;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  /* background: linear-gradient(10deg, rgba(166,98,22,1) 0%, rgba(137,65,154,1) 29%, rgba(131,58,180,1) 57%, rgba(135,63,161,1) 72%); */
  /* background: linear-gradient( #4b334a, rgba(151, 59, 184, 0.863)); */
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
}
.links button {
  border: none;
  background-color: transparent;
}
.links i {
  background-color: var(--tersary-color);
  font-size: 16px;
  margin: 0 0px;
  height: 22px;
  width: 22px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.search-bar {
  position: relative;
  width: 100px;
}
.fa-magnifying-glass {
  color: white;
}
.search-icon {
  right: 12px;
  position: absolute;
  width: 50px;
  height: 36px;
  background-color: var(--tersary-color);
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form {
  outline: 1px solid var(--primary-color);
  /* border: 1ps solid var(--primary-color); */
  border-radius: 30px;
}
.search-form .form-control {
  border: transparent;
}
.nav-images {
  background-color: var(--primary-color);
  padding: 0px 5px 5px 5px;
  padding-left: 20px;
  height: 70px;
  padding: 0px 10%;
}
.nav-images img {
  width: 33px;
  margin-top: 10px;
  margin: 10px 2px 0px 2px;
}
nav p {
  font-size: 10px;
  text-transform: uppercase;
}
nav {
  /* width: 45%; */
  width: 100%;
  display: flex;
  margin: auto;
  justify-content:space-around;
  align-items: safe;
}
@media screen and (max-width: 700px) and (min-width:10px){
  nav {
    width: 100%;
    padding: 0px;
  }
  .search-bar {
    display: none;
  }
  .header {
    padding: 10px 0px;
  }
  .nav-images img {
    width: 25px;
  }
  .nav p {
    font-size: 6.5px;
  }
  .nav-images{
    padding: 0px;
  }
}
