:root {
    --primary-color: #3b008b;
    --secondary-color: #a66216;
    --tersary-color: #870083;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
    width: 100%;
    /* background: linear-gradient(10deg, rgba(166,98,22,1) 0%, rgba(137,65,154,1) 29%, rgba(131,58,180,1) 57%, rgba(135,63,161,1) 72%); */
    background: linear-gradient( #4b334a, rgba(151, 59, 184, 0.863));
}