:root {
  /* --primary-color: #3b008b; */
  --primary-color: #5f517496;
  /* --primary-color: #2b0068; */
  --secondary-color: #a66216;
  --tersary-color: #660163;
  /* --tersary-color: #870083; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  /* background: linear-gradient(10deg, rgba(166,98,22,1) 0%, rgba(137,65,154,1) 29%, rgba(131,58,180,1) 57%, rgba(135,63,161,1) 72%); */
  /* background: linear-gradient( #4b334a, rgba(151, 59, 184, 0.863)); */
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 20px;
}

.links a {
  text-decoration: none;
  color: var(--primary-color);
}
.links button {
  border: none;
  background-color: transparent;
}
.links i {
  /* background-color: var(--tersary-color); */
  background-color: var(--secondary-color);
  font-size: 16px;
  margin: 0 0px;
  height: 22px;
  width: 22px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.search-bar {
  position: relative;
  width: 100px;
}
.fa-magnifying-glass {
  color: white;
}
.search-icon {
  right: 12px;
  position: absolute;
  width: 50px;
  height: 36px;
  background-color: var(--secondary-color);
  border-radius: 0 30px 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form {
  outline: 1px solid var(--primary-color);
  /* border: 1ps solid var(--primary-color); */
  border-radius: 30px;
}
.search-form .form-control {
  border: transparent;
}
.nav-images {
  background-color: var(--secondary-color);
  padding: 0px 5px 0px 5px;
  height: 60px;
}
.nav-images img {
  width: 32px;
  margin: 5px 2px 0px 2px;
  transition: all .5s ease;
}
nav p {
  padding-top: 8px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight:600;
  letter-spacing: .3px;
  transition: all .5s ease;
}
nav {
  width: 50%;
  display: flex;
  margin-left: 20px;
  margin: auto;
  justify-content:space-around;
  align-items: safe;
}
.nav-images a{
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-family: Arial, Helvetica, sans-serif;
  transition: all .5s ease;
}
/* .nav-images a:hover img{
  transform: scale(1.2);
  transition: all .5s ease;
} */
.nav-images a:hover p{
  transition: all .5s ease;
}
.nav3-btn{
  background-color:#29062825;
  border: 1px solid #66016323;
}
.nav3-btn button{
  border: none;
  background-color:var(--primary-color);
  padding: 2px 10px;
}
.nav3-btn a{
  position: relative;
  font-size: 12px;
  color:rgba(255, 255, 255, 0.856);
  text-decoration: none;
  font-weight: 600;
}
.conf-section{
  background-color: #4412427c;
}
.save-btn button{
border: none;
background-color: #4412427c;
padding: 2px 8px;
color: white;
font-size: 12px;
margin: 0px;
transition: all .5s ease;
}
.save-btn button:hover{
  background-color: #4412424f;
}
.conf-input{
  padding: 2px 8px;
}
@media screen and (max-width:700px){
  nav {
    width: 100%;
    padding: 0px;
    margin-left: 0px;
  }
  .search-bar {
    display: none;
  }
  .header {
    padding: 10px 0px;
  }
  .nav-images img {
    width: 25px;
  }
  nav p{
    font-size: 5px !important;
  }
  .nav-images{
    padding: 0px;
  }
  .nav3-btn button{
    padding: 4px;
  }
  .nav3-btn a{
    font-size: 5px !important;
  }
  .save-btn{
    text-align: left !important;
  }
  .save-btn button{
    padding: 2px 4px;
    font-size: 6px;
  }
}
